:root 
{
	--thumb-size: 25px;
}
#hearthleBtn
{
	height:100%;
	cursor: pointer;
	background-color: transparent;
	background: none;
	border: none;
}

#voicelineHolder
{
	margin-top:20px;
	width: 500px; 
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: auto;
	margin-right: auto;
}
.voiceGuess
{
	object-fit: contain;
	text-align: center;
	font-family: "Russo";
}
.voiceButton
{
	object-fit: contain;
	width: 25%;
	height: auto;
}
#volumeSliderHolder
{
	margin-bottom: max(1vw,1vh);
	margin-left: auto;
	margin-right: auto;
}
.custom-input 
{
	-webkit-appearance: none;
	background: url('../Assets/SoundGuess/volumeSliderBackground.png') no-repeat center;
	background-size: contain;
	aspect-ratio:400/100;
	width:7.5%;
	padding-right: 2%;
	padding-left: 2%;
	outline: none;
	margin: 0;
}

.custom-input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: var(--thumb-size); 
	height: var(--thumb-size);  
	background: url('../Assets/SoundGuess/volumeSlider.png') no-repeat center;
	background-size: contain;
	cursor: pointer;
	border: none; 
}

.custom-input::-moz-range-thumb {
	width: var(--thumb-size);  
	height: var(--thumb-size); 
	background: url('../Assets/SoundGuess/volumeSlider.png') no-repeat center;
	background-size: contain;
	cursor: pointer;
	border: none;
}

.custom-input::-ms-thumb {
	width: var(--thumb-size);  
	height: var(--thumb-size);  
	background: url('../Assets/SoundGuess/volumeSlider.png') no-repeat center;
	background-size: contain;
	cursor: pointer;
	border: none;
}

@media (max-width:1000px)  
{
	:root 
	{
		--thumb-size: 15px;
	}
	.custom-input 
	{
		width:10%;
	}
}
@media (max-width:480px)  
{
	.voiceGuess p
	{
		font-size:13px;
	}
	#voicelineHolder
	{
		margin-top:10px;
		width: 90vw; 
	}

	.custom-input 
	{
		display: none;
	}
}
