#hearthleBtn
{
	height:100%;
	cursor: pointer;
	background-color: transparent;
	background: none;
	border: none;
}

#voicelineHolder
{
	margin-top:20px;
	width: 500px; 
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: auto;
	margin-right: auto;
}
.voiceGuess
{
	object-fit: contain;
	text-align: center;
	font-family: "Russo";
}
.voiceButton
{
	object-fit: contain;
	width: 25%;
	height: auto;
}
@media (max-width:480px)  
{
	.voiceGuess p
	{
		font-size:13px;
	}
	#voicelineHolder
	{
		margin-top:10px;
		width: 90vw; 
	}
}
